# Database Configuration
DATABASE_LOCAL=mongodb://localhost:27017/urlshortener
DATABASE=mongodb+srv://username:<PASSWORD>@cluster.mongodb.net/?appName=Url
DATABASE_PASSWORD=your_secure_password_here
NODE_ENV=development

# Server Configuration
PORT=3000
BASE_URL=https://your-domain.com/

# Redis Cache
REDIS_CACHE_URL=redis://localhost:6379
REDIS_TTL_SECONDS=3600

# Redis Queue (BullMQ)
REDIS_QUEUE_HOST=localhost
REDIS_QUEUE_PORT=6380

# Worker Configuration
ANALYTICS_WORKER_CONCURRENCY=10

# Benchmarking (optional)
DURATION=60
